h1{
    text-align: center;
    align-content: center;
}
    
form{
    margin-left: 25%;
    margin-right: 25%;
    
}
p{
    color: red;
}
#submit:hover{
    background-color: rgb(7, 95, 44);
   
}
#submit{
    background-color: #31ee37; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   
}
input,select{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
body{
    background-image: url(bg8.jpg);
}
